/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
   
  }

  body {
    background-color: #f7f8fa;
  }

/* # UTILS */

.container {
    margin:0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px 0;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
  }



  /* HEADER */

  .upper-header{
   line-height: 50px;
   padding: 0 15px;
   margin: 0px;
   margin-bottom: 20px;
   padding-bottom: 20px;
   background-color: white;
   
  
  }

.logo-image {
    height: 50px;
    vertical-align: middle;
    margin: 15px 0;
}

.title-logo {
display: inline;
font-style: bold;
vertical-align: middle;
font-size: 50px;
}



  /* MAIN */

  .container-main {
    margin:0 auto;
    padding: 10px 0;
    padding: 20px 0;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
  }


.title-list {
    font-style: bold;
    padding-top: 20px;
}



  .check-list {
    list-style-type: none;
    display: inline;
    
  }


  .button-task {
    padding: 5px 10px;
    background-color: #44acf8;
    color: white;
    border-radius: 5px;
  }

  .button-section {
    padding: 5px 10px;
    background-color: white;
    color: grey;
    border-radius: 5px;
  }

  .button-list1 {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #44acf8;
    color: white;

  }


  .button-list2 {
    padding: 5px 10px;
    border-radius: 10px;
    background-color:#9a76e2;
    color: white;
  }


.button-list3 {
    padding: 5px 10px;
    border-radius: 10px;
    background-color:#69c5a8;
    color: white;
}

.button-list4 {
    padding: 5px 10px;
    border-radius: 10px;
    background-color:#f29f3a;
    color: white;
}

.button-list5 {
    padding: 5px 10px;
    border-radius: 10px;
    background-color:#d5679e;
    color: white;
}

.button-list6 {
    padding: 5px 10px;
    border-radius: 10px;
    background-color:#afc72a;
    color: white;
}



  .list-priority {
padding: 10px 0;
  }

  
.circle-item {
    display: inline-block;
    color: green;
    border-radius: 50%;
    border: 1px solid;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;     
}
  
.circle-item1 {
    display: inline-block;
    color: red;
    border-radius: 50%;
    border: 1px solid;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;  
}
